In [1]:
import pandas as pd
import os

In [2]:
lhc_trials_df = pd.read_csv("lhc_trials_lever_effects_by_sample_group.csv")
lhc_trials_df

,1,2,3,4,5,6,7,8,9,10,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,future_id
0,0.980563,0.622679,0.140236,0.802093,0.809239,0.204801,0.524637,0.630477,0.832595,0.820676,...,0.194148,0.302870,0.936163,0.489698,0.355706,0.973953,0.163635,0.502731,0.215820,1
1,0.735548,0.301887,0.427054,0.403958,0.065751,0.112043,0.129692,0.464848,0.471658,0.077887,...,0.391113,0.627638,0.037490,0.116765,0.956556,0.605262,0.993768,0.606901,0.649376,2
2,0.483432,0.687238,0.788480,0.682344,0.550297,0.173999,0.258569,0.959298,0.102355,0.432940,...,0.085676,0.160749,0.503487,0.717740,0.322667,0.269358,0.440815,0.146352,0.294294,3
3,0.978340,0.251633,0.057635,0.432074,0.356407,0.050955,0.819088,0.708194,0.664282,0.536167,...,0.671211,0.635634,0.696036,0.291799,0.842492,0.965798,0.610868,0.941222,0.623498,4
4,0.096028,0.866167,0.248441,0.529266,0.495278,0.261648,0.640538,0.341921,0.513636,0.236388,...,0.156381,0.243530,0.098165,0.546683,0.467180,0.449347,0.442861,0.823770,0.297142,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.686931,0.293175,0.530016,0.537532,0.547453,0.592252,0.145215,0.595690,0.226719,0.555106,...,0.166374,0.492576,0.852423,0.576864,0.581870,0.729968,0.670905,0.526597,0.538860,996
996,0.652014,0.614792,0.722367,0.728350,0.258821,0.451143,0.933635,0.699838,0.318238,0.118908,...,0.081739,0.427041,0.841771,0.700368,0.034557,0.110096,0.358843,0.228176,0.567834,997
997,0.194568,0.471448,0.336939,0.843803,0.291440,0.503017,0.002373,0.607189,0.445903,0.462059,...,0.483941,0.270658,0.453539,0.533885,0.448723,0.985748,0.874981,0.341813,0.518431,998
998,0.298093,0.985266,0.876711,0.357384,0.324181,0.318030,0.521157,0.057600,0.803029,0.038362,...,0.826473,0.188016,0.836447,0.053303,0.036249,0.291268,0.829999,0.494574,0.087424,999
999,0.300035,0.474791,0.472236,0.001421,0.879908,0.982731,0.543588,0.954241,0.294011,0.824138,...,0.255654,0.371977,0.340507,0.891802,0.644067,0.331707,0.279897,0.038765,0.325093,1000

In [11]:
lhc_trials_df.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '22', '23', '24', '25', '26', '27',
       '28', '29', '30', '31', '34', '35', '36', '37', '38', '39', '40', '43',
       '44', '45', '46', '47', '114', '115', '116', '251', '252', '262', '263',
       '265', '279', '280', '281', '802', '803', '827', '893', '965', '1384',
       '1459', '1460', '1461', '1462', '1463', '1464', '1465', '1466', '1467',
       '1468', '1469', '1470', '1471', '1472', '1473', '1474', '1475', '1476',
       '1477', '1478', '1480', '1481', 'future_id'],
      dtype='object')

In [3]:
var_specifications_df = pd.read_csv("variable_specification_to_sample_group.csv")
var_specifications_df

                                 variable_specification  sample_group
0                                  area_gnrl_country_ha            48
1       avgload_trns_freight_tonne_per_vehicle_aviation            49
2     avgload_trns_freight_tonne_per_vehicle_rail_fr...            50
3     avgload_trns_freight_tonne_per_vehicle_road_he...            51
4     avgload_trns_freight_tonne_per_vehicle_water_b...            52
...                                                 ...           ...
2211                            yf_agrc_pulses_tonne_ha             2
2212                              yf_agrc_rice_tonne_ha             2
2213                        yf_agrc_sugar_cane_tonne_ha             2
2214                            yf_agrc_tubers_tonne_ha             2
2215              yf_agrc_vegetables_and_vines_tonne_ha             2

[2216 rows x 2 columns]

In [4]:
la_emissions_df = pd.read_csv("louisiana.csv")
la_emissions_df

,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,area_agrc_crops_other_annual,...,emission_co2e_subsector_total_lndu,emission_co2e_subsector_total_lsmm,emission_co2e_subsector_total_lvst,emission_co2e_subsector_total_soil,emission_co2e_subsector_total_ccsq,emission_co2e_subsector_total_entc,emission_co2e_subsector_total_fgtv,emission_co2e_subsector_total_inen,emission_co2e_subsector_total_scoe,emission_co2e_subsector_total_trns
0,574574,louisiana,0,0,367983.831774,68239.857458,80.234375,79198.541655,6714.566582,1.154590e+06,...,9.980000,0.322352,2.821843,4.032755,0,39.360000,15.368289,106.770000,4.290000,32.920000
1,574574,louisiana,1,0,362385.636787,67201.713944,79.013757,77993.681983,6612.416842,1.137025e+06,...,9.968923,0.319496,2.800291,4.092947,0,40.166252,14.997714,108.605133,3.731796,31.374749
2,574574,louisiana,2,0,361096.126663,66962.583908,78.732596,77716.149895,6588.887271,1.132979e+06,...,9.489254,0.320059,2.788854,4.099808,0,38.546442,13.722847,80.719306,3.559992,31.843131
3,574574,louisiana,3,0,359935.747562,66747.400257,78.479589,77466.409758,6567.713942,1.129338e+06,...,10.279229,0.321689,2.777719,4.162110,0,41.389603,14.818578,146.300301,3.841408,33.650089
4,574574,louisiana,4,0,358773.521179,66531.874041,78.226180,77216.272044,6546.506906,1.125692e+06,...,9.983308,0.323218,2.772568,4.173150,0,37.732294,13.456220,146.740554,3.879013,34.227053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21235,575163,louisiana,31,0,369731.312136,63140.833529,97.868553,88107.369536,8092.817365,1.314374e+06,...,9.019397,0.225220,2.108815,4.030920,0,13.396691,3.180138,12.116946,1.807698,47.673483
21236,575163,louisiana,32,0,371434.009329,63424.099831,98.664733,88524.943042,8158.542004,1.323838e+06,...,9.041892,0.218731,2.062287,4.024846,0,13.752271,3.115247,9.844194,1.716318,48.620804
21237,575163,louisiana,33,0,373035.122636,63693.163070,99.426695,88913.360755,8221.483686,1.332866e+06,...,9.067669,0.212020,2.012123,4.020345,0,13.703440,2.806686,7.669940,1.625903,49.609905
21238,575163,louisiana,34,0,374554.832114,63950.235145,100.162669,89279.373740,8282.304713,1.341556e+06,...,9.096150,0.205116,1.958806,4.018219,0,14.018168,2.709138,5.593028,1.536340,50.639896
21239,575163,louisiana,35,0,376009.692489,64197.347065,100.878937,89628.179637,8341.512680,1.349987e+06,...,9.120543,0.198059,1.902841,4.016949,0,14.341265,2.609714,3.656397,1.447539,51.708607

In [10]:
la_emissions_df[[col for col in la_emissions_df.columns if "future" in col]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[21240 rows x 0 columns]

In [12]:
la_emissions_df.primary_id.unique()

array([574574, 574575, 574576, 574577, 574578, 574579, 574580, 574581,
       574582, 574583, 574584, 574585, 574586, 574587, 574588, 574589,
       574590, 574591, 574592, 574593, 574594, 574595, 574596, 574597,
       574598, 574599, 574600, 574601, 574602, 574603, 574604, 574605,
       574606, 574607, 574608, 574609, 574610, 574611, 574612, 574613,
       574614, 574615, 574616, 574617, 574618, 574619, 574620, 574621,
       574622, 574623, 574624, 574625, 574626, 574627, 574628, 574629,
       574630, 574631, 574632, 574633, 574634, 574635, 574636, 574637,
       574638, 574639, 574640, 574641, 574642, 574643, 574644, 574645,
       574646, 574647, 574648, 574649, 574650, 574651, 574652, 574653,
       574654, 574655, 574656, 574657, 574658, 574659, 574660, 574661,
       574662, 574663, 574664, 574665, 574666, 574667, 574668, 574669,
       574670, 574671, 574672, 574673, 574674, 574675, 574676, 574677,
       574678, 574679, 574680, 574681, 574682, 574683, 574684, 574685,
       574686, 574687, 574688, 574689, 574690, 574691, 574692, 574693,
       574694, 574695, 574696, 574697, 574698, 574699, 574700, 574701,
       574702, 574703, 574704, 574705, 574706, 574707, 574708, 574709,
       574710, 574711, 574712, 574713, 574714, 574715, 574716, 574717,
       574718, 574719, 574720, 574721, 574722, 574723, 574724, 574725,
       574726, 574727, 574728, 574729, 574730, 574731, 574732, 574733,
       574734, 574735, 574736, 574737, 574738, 574739, 574740, 574741,
       574742, 574743, 574744, 574745, 574746, 574747, 574748, 574749,
       574750, 574751, 574752, 574753, 574754, 574755, 574756, 574757,
       574758, 574759, 574760, 574761, 574762, 574763, 574764, 574765,
       574766, 574767, 574768, 574769, 574770, 574771, 574772, 574773,
       574774, 574775, 574776, 574777, 574778, 574779, 574780, 574781,
       574782, 574783, 574784, 574785, 574786, 574787, 574788, 574789,
       574790, 574791, 574792, 574793, 574794, 574795, 574796, 574797,
       574798, 574799, 574800, 574801, 574802, 574803, 574804, 574805,
       574806, 574807, 574808, 574809, 574810, 574811, 574812, 574813,
       574814, 574815, 574816, 574817, 574818, 574819, 574820, 574821,
       574822, 574823, 574824, 574825, 574826, 574827, 574828, 574829,
       574830, 574831, 574832, 574833, 574834, 574835, 574836, 574837,
       574838, 574839, 574840, 574841, 574842, 574843, 574844, 574845,
       574846, 574847, 574848, 574849, 574850, 574851, 574852, 574853,
       574854, 574855, 574856, 574857, 574858, 574859, 574860, 574861,
       574862, 574863, 574864, 574865, 574866, 574867, 574868, 574869,
       574870, 574871, 574872, 574873, 574874, 574875, 574876, 574877,
       574878, 574879, 574880, 574881, 574882, 574883, 574884, 574885,
       574888, 574889, 574886, 574887, 574890, 574891, 574892, 574893,
       574894, 574895, 574896, 574897, 574898, 574899, 574900, 574901,
       574902, 574903, 574904, 574905, 574906, 574907, 574908, 574909,
       574910, 574911, 574912, 574913, 574914, 574915, 574916, 574917,
       574918, 574919, 574920, 574921, 574922, 574923, 574924, 574925,
       574926, 574927, 574928, 574929, 574930, 574931, 574932, 574933,
       574934, 574935, 574936, 574937, 574938, 574939, 574940, 574941,
       574942, 574943, 574944, 574945, 574946, 574947, 574948, 574949,
       574950, 574951, 574952, 574953, 574954, 574955, 574956, 574957,
       574958, 574959, 574960, 574961, 574962, 574963, 574964, 574965,
       574966, 574967, 574968, 574969, 574970, 574971, 574972, 574973,
       574974, 574975, 574976, 574977, 574978, 574979, 574980, 574981,
       574982, 574983, 574984, 574985, 574986, 574987, 574988, 574989,
       574990, 574991, 574992, 574993, 574994, 574995, 574996, 574997,
       574998, 574999, 575000, 575001, 575002, 575003, 575004, 575005,
       575006, 575007, 575008, 575009, 575010, 575011, 575012, 575013,
       575014, 575015, 575016, 575017, 575018, 575019, 575020, 575021,
       575022, 575023, 575024, 575025, 575026, 575027, 575028, 575029,
       575030, 575031, 575032, 575033, 575034, 575035, 575036, 575037,
       575038, 575039, 575040, 575041, 575042, 575043, 575044, 575045,
       575046, 575047, 575048, 575049, 575050, 575051, 575052, 575053,
       575054, 575055, 575056, 575057, 575058, 575059, 575060, 575061,
       575062, 575063, 575064, 575065, 575066, 575067, 575068, 575069,
       575070, 575071, 575072, 575073, 575074, 575075, 575076, 575077,
       575078, 575079, 575080, 575081, 575082, 575083, 575084, 575085,
       575086, 575087, 575088, 575089, 575090, 575091, 575092, 575093,
       575094, 575095, 575096, 575097, 575098, 575099, 575100, 575101,
       575102, 575103, 575104, 575105, 575106, 575107, 575108, 575109,
       575110, 575111, 575112, 575113, 575114, 575115, 575116, 575117,
       575118, 575119, 575120, 575121, 575122, 575123, 575124, 575125,
       575126, 575127, 575128, 575129, 575130, 575131, 575132, 575133,
       575134, 575135, 575136, 575137, 575138, 575139, 575140, 575141,
       575142, 575143, 575144, 575145, 575146, 575147, 575148, 575149,
       575150, 575151, 575152, 575153, 575154, 575155, 575156, 575157,
       575158, 575159, 575160, 575161, 575162, 575163])