In [1]:
import pandas as pd
import os

In [2]:
SCRIPT_DIR_PATH = os.getcwd()
ROOT_DIR_PATH = os.path.dirname(SCRIPT_DIR_PATH)
DATA_DIR_PATH = os.path.join(ROOT_DIR_PATH, "data")
MAPPING_DIR_PATH = os.path.join(DATA_DIR_PATH, "mapping")
PREDICTORS_DIR_PATH = os.path.join(DATA_DIR_PATH, "predictors")
SSP_DIR_PATH = os.path.join(DATA_DIR_PATH, "ssp")
SIMULATION_DIR_PATH = os.path.join(SSP_DIR_PATH, "sisepuede_run_2025-01-14T17;04;06.975301_output_database")
TRAINING_DIR_PATH = os.path.join(DATA_DIR_PATH, "training")

In [3]:
lhc_trials_df = pd.read_csv(os.path.join(PREDICTORS_DIR_PATH, "lhs_sample_group_experiments.csv"))
lhc_trials_df

,1,2,3,4,5,6,7,8,9,10,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,future_id
0,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,0.490988,0.510280,...,0.985425,0.482783,0.183188,0.364889,0.005297,0.223598,0.927810,0.036368,0.933822,1
1,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,0.779857,0.623335,...,0.437877,0.149747,0.308130,0.780839,0.784662,0.742266,0.147130,0.081654,0.491202,2
2,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,0.884425,0.232722,...,0.360238,0.348950,0.165501,0.813845,0.950005,0.342632,0.053104,0.316417,0.173655,3
3,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,0.027114,0.532020,...,0.060470,0.660562,0.621883,0.911838,0.030974,0.912003,0.150989,0.246583,0.353195,4
4,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,0.346714,0.892123,...,0.910718,0.621574,0.244454,0.927056,0.561529,0.611280,0.552761,0.125694,0.147930,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,0.791412,0.300450,...,0.669261,0.883331,0.431040,0.045121,0.790492,0.081530,0.351688,0.746613,0.853002,996
996,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,0.657012,0.808412,...,0.538035,0.037013,0.528031,0.079728,0.918024,0.653280,0.161674,0.033243,0.257661,997
997,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,0.606286,0.678398,...,0.262631,0.657597,0.243538,0.603350,0.377625,0.316224,0.615736,0.996441,0.704642,998
998,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,0.009808,0.855097,...,0.069343,0.293393,0.632635,0.168413,0.611178,0.295950,0.813797,0.934377,0.473035,999
999,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,0.951080,0.509441,...,0.486452,0.115074,0.989445,0.965431,0.352193,0.278569,0.164544,0.144563,0.306248,1000

In [4]:
la_emissions_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "MODEL_OUTPUT.csv"))
la_emissions_df

,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,area_agrc_crops_other_annual,...,yield_agrc_fruits_tonne,yield_agrc_herbs_and_other_perennial_crops_tonne,yield_agrc_nuts_tonne,yield_agrc_other_annual_tonne,yield_agrc_other_woody_perennial_tonne,yield_agrc_pulses_tonne,yield_agrc_rice_tonne,yield_agrc_sugar_cane_tonne,yield_agrc_tubers_tonne,yield_agrc_vegetables_and_vines_tonne
0,275275,louisiana,0,0.0,367983.831774,68239.857458,80.234375,79198.541655,6714.566582,1.154590e+06,...,1607.703461,955073.693482,19786.484805,7.132381e+06,0.0,985.642069,2.422231e+06,2.104457e+07,166526.651285,147.841681
1,275275,louisiana,1,0.0,362385.636787,67201.713944,79.013757,77993.681983,6612.416842,1.137025e+06,...,1618.201188,978025.173334,22849.096189,8.147695e+06,0.0,1148.204785,2.272766e+06,2.016430e+07,170339.476720,150.359797
2,275275,louisiana,2,0.0,361096.126663,66962.583908,78.732596,77716.149895,6588.887271,1.132979e+06,...,1574.244188,945124.232643,20042.187116,1.259799e+07,0.0,1389.455885,2.285081e+06,2.525521e+07,170252.877121,144.566821
3,275275,louisiana,3,0.0,359935.747562,66747.400257,78.479589,77466.409758,6567.713942,1.129338e+06,...,1487.104127,951997.620585,22167.895406,6.139224e+06,0.0,1457.885138,2.426876e+06,2.538268e+07,162040.494052,147.924261
4,275275,louisiana,4,0.0,358773.521179,66531.874041,78.226180,77216.272044,6546.506906,1.125692e+06,...,1583.188921,952671.199593,19588.348855,6.953864e+06,0.0,1125.040763,2.155513e+06,2.356779e+07,166703.308298,163.887648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36031,276275,louisiana,31,0.0,309402.632008,67494.007968,99.280790,89132.167800,16695.284559,1.161004e+06,...,1449.350481,871948.732854,12592.990056,7.021991e+06,0.0,1055.062331,2.276019e+06,2.403699e+07,196573.614611,166.806631
36032,276275,louisiana,32,0.0,309172.389911,68774.060665,102.272019,91149.219633,18708.483406,1.177036e+06,...,1477.427300,885367.523944,12723.047466,7.109925e+06,0.0,1059.561793,2.296005e+06,2.393306e+07,197056.903265,167.693033
36033,276275,louisiana,33,0.0,308983.403716,70116.106905,105.313909,93186.116688,21109.791025,1.193151e+06,...,1505.572198,898808.002401,12811.278216,7.198400e+06,0.0,1064.598028,2.315909e+06,2.383202e+07,197544.003011,168.591509
36034,276275,louisiana,34,0.0,308833.414335,71512.549952,108.393442,95232.747284,24019.931656,1.209256e+06,...,1533.599093,912175.594875,12844.529332,7.286867e+06,0.0,1070.123263,2.335624e+06,2.373561e+07,198045.569544,169.504094
36035,276275,louisiana,35,0.0,308715.398813,72954.834981,111.497279,97278.672613,27620.872881,1.225251e+06,...,1561.352004,925391.026439,12806.362698,7.374855e+06,0.0,1076.088767,2.355067e+06,2.364535e+07,198571.034958,170.432604

## Transform emissions time series data in target variables

In [5]:
subsector_totals_cols = [col for col in la_emissions_df.columns if "emission_co2e_subsector_total" in col]
subsector_totals_cols

['emission_co2e_subsector_total_agrc',
 'emission_co2e_subsector_total_ccsq',
 'emission_co2e_subsector_total_entc',
 'emission_co2e_subsector_total_fgtv',
 'emission_co2e_subsector_total_frst',
 'emission_co2e_subsector_total_inen',
 'emission_co2e_subsector_total_ippu',
 'emission_co2e_subsector_total_lndu',
 'emission_co2e_subsector_total_lsmm',
 'emission_co2e_subsector_total_lvst',
 'emission_co2e_subsector_total_scoe',
 'emission_co2e_subsector_total_soil',
 'emission_co2e_subsector_total_trns',
 'emission_co2e_subsector_total_trww',
 'emission_co2e_subsector_total_waso']

In [6]:
# Calculate total_emissions
la_emissions_df["total_emissions"] = la_emissions_df[subsector_totals_cols].sum(axis=1)

cols_to_keep = ["primary_id", "time_period", "total_emissions"] + subsector_totals_cols

la_emissions_df = la_emissions_df[cols_to_keep]

la_emissions_df

,primary_id,time_period,total_emissions,emission_co2e_subsector_total_agrc,emission_co2e_subsector_total_ccsq,emission_co2e_subsector_total_entc,emission_co2e_subsector_total_fgtv,emission_co2e_subsector_total_frst,emission_co2e_subsector_total_inen,emission_co2e_subsector_total_ippu,emission_co2e_subsector_total_lndu,emission_co2e_subsector_total_lsmm,emission_co2e_subsector_total_lvst,emission_co2e_subsector_total_scoe,emission_co2e_subsector_total_soil,emission_co2e_subsector_total_trns,emission_co2e_subsector_total_trww,emission_co2e_subsector_total_waso
0,275275,0,286.240266,1.584478,0.000000,87.202869,13.785113,-25.538740,34.955562,92.323613,9.987402,0.284571,1.240654,5.408010,18.198756,43.813502,1.194832,1.799645
1,275275,1,309.612427,1.573848,0.000000,88.990055,13.574044,-26.918532,35.550361,117.400000,9.974551,0.282116,1.231179,4.777919,18.470387,41.755424,1.181568,1.769505
2,275275,2,255.419631,1.667754,0.000000,85.401680,12.342081,-20.181094,26.431299,70.076960,9.718344,0.282270,1.226150,4.587107,18.501348,42.378982,1.193562,1.793187
3,275275,3,346.415753,1.557793,0.000000,91.676280,13.536455,-13.789889,47.900892,122.294593,10.207034,0.283177,1.221255,4.909771,18.782501,44.782787,1.215421,1.837684
4,275275,4,314.404711,1.538893,0.000000,83.599591,12.560791,-39.346740,48.043708,124.008505,10.062773,0.284135,1.218990,4.955352,18.832322,45.549952,1.234366,1.862073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36031,276275,31,143.883905,1.596347,-12.973105,47.564903,4.162504,-27.029063,12.335944,49.094989,7.600756,0.266807,1.129693,4.151388,13.988376,39.020458,1.515877,1.458031
36032,276275,32,139.413018,1.613380,-13.655900,47.509988,3.951722,-27.324700,11.794201,46.812204,7.624813,0.264323,1.121804,4.097062,13.970345,38.716472,1.512743,1.404560
36033,276275,33,134.994698,1.630549,-14.338695,47.481051,3.737744,-27.620392,11.274044,44.500519,7.648067,0.261796,1.114018,4.042772,13.978804,38.427685,1.508281,1.348455
36034,276275,34,130.557026,1.647803,-15.021490,47.444460,3.516989,-27.915374,10.774941,42.151681,7.671965,0.259227,1.106348,3.988216,13.988979,38.151255,1.502419,1.289608
36035,276275,35,126.237780,1.665097,-15.704285,47.403051,3.288036,-28.209338,10.493363,39.756759,7.646306,0.256538,1.098241,3.933127,14.004328,37.883587,1.495070,1.227898

In [7]:
# Filter out rows with time_period <= 30
la_emissions_df = la_emissions_df[la_emissions_df["time_period"] > 30]
la_emissions_df.head(7)

,primary_id,time_period,total_emissions,emission_co2e_subsector_total_agrc,emission_co2e_subsector_total_ccsq,emission_co2e_subsector_total_entc,emission_co2e_subsector_total_fgtv,emission_co2e_subsector_total_frst,emission_co2e_subsector_total_inen,emission_co2e_subsector_total_ippu,emission_co2e_subsector_total_lndu,emission_co2e_subsector_total_lsmm,emission_co2e_subsector_total_lvst,emission_co2e_subsector_total_scoe,emission_co2e_subsector_total_soil,emission_co2e_subsector_total_trns,emission_co2e_subsector_total_trww,emission_co2e_subsector_total_waso
31,275275,31,41.665117,1.460253,-25.682628,15.317286,1.212687,-20.495922,2.128745,27.090024,5.243563,0.138398,0.720310,0.700690,12.639186,19.285611,0.849438,1.057476
32,275275,32,34.880394,1.457065,-27.034345,15.403158,1.111842,-20.646063,1.648109,24.078243,5.212332,0.127932,0.684143,0.515803,12.410605,18.152515,0.784585,0.974471
33,275275,33,28.168149,1.453646,-28.386062,15.490064,1.010105,-20.820842,1.213478,21.083855,5.182569,0.117441,0.647237,0.337226,12.200026,17.036721,0.714894,0.887790
34,275275,34,21.138362,1.450095,-29.737779,15.249905,0.862243,-21.015871,0.821065,18.101447,5.153970,0.106999,0.609900,0.165190,11.999088,15.934656,0.640156,0.797297
35,275275,35,14.413315,1.446492,-31.089497,15.227005,0.748293,-21.224761,0.467359,15.125732,5.127605,0.096632,0.572016,0.000000,11.810748,14.842692,0.560147,0.702855
67,275276,31,143.777093,1.584180,-25.580624,66.071374,10.257866,-18.478956,7.536667,38.857826,9.881355,0.195127,0.761457,1.923244,17.718429,29.622057,1.046626,2.380465
68,275276,32,138.867103,1.598803,-26.926973,66.440282,10.198394,-18.320145,6.970375,36.451113,9.886850,0.188235,0.733936,1.774252,17.798955,28.671540,1.007325,2.394161

In [8]:
# aggregate data by primary_id and region by summing the emissions
la_emissions_df_agg = la_emissions_df.groupby(["primary_id"]).sum().reset_index()

# Rename the total_emissions column to total_emissions_last_five_years
la_emissions_df_agg.rename(columns={"total_emissions": "total_emissions_last_five_years"}, inplace=True)

# Rename all the cols that start with emission_co2e_subsector_total to have a suffix of _last_five_years
for col in subsector_totals_cols:
    new_col_name = col.replace("emission_co2e_subsector_total", "emission_co2e_subsector_total_last_five_years")
    la_emissions_df_agg.rename(columns={col: new_col_name}, inplace=True)

la_emissions_df_agg

,primary_id,time_period,total_emissions_last_five_years,emission_co2e_subsector_total_last_five_years_agrc,emission_co2e_subsector_total_last_five_years_ccsq,emission_co2e_subsector_total_last_five_years_entc,emission_co2e_subsector_total_last_five_years_fgtv,emission_co2e_subsector_total_last_five_years_frst,emission_co2e_subsector_total_last_five_years_inen,emission_co2e_subsector_total_last_five_years_ippu,emission_co2e_subsector_total_last_five_years_lndu,emission_co2e_subsector_total_last_five_years_lsmm,emission_co2e_subsector_total_last_five_years_lvst,emission_co2e_subsector_total_last_five_years_scoe,emission_co2e_subsector_total_last_five_years_soil,emission_co2e_subsector_total_last_five_years_trns,emission_co2e_subsector_total_last_five_years_trww,emission_co2e_subsector_total_last_five_years_waso
0,275275,165,140.265338,7.267550,-141.930311,76.687418,4.945170,-104.203459,6.278755,105.479301,25.920040,0.587402,3.233606,1.718910,61.059653,85.252196,3.549219,4.419889
1,275276,165,670.507643,8.061759,-141.366606,334.273021,50.634794,-90.765169,32.437006,170.411122,49.462783,0.906453,3.535574,8.152285,89.352384,138.564932,4.811716,12.035590
2,275277,165,604.450538,7.858164,-14.533055,191.759751,22.453442,-105.394860,37.959592,160.811434,38.170739,0.970521,4.244111,8.154926,81.322226,156.911769,8.015643,5.746137
3,275278,165,475.708631,8.307819,-129.785123,117.203083,12.867610,-98.697311,19.116132,278.256437,36.429337,1.228347,4.422138,18.414907,76.882749,121.007564,4.921821,5.133122
4,275279,165,758.004335,8.405054,-71.502824,264.993930,34.352460,-117.495744,48.859457,336.430495,28.664949,1.090020,3.910358,13.270447,70.415909,121.967384,6.411074,8.231365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,276271,165,623.338641,7.691330,-71.971267,192.425095,32.765217,-142.984360,22.202444,286.445998,36.106518,0.904249,5.081968,18.862049,71.560854,148.939474,5.825388,9.483685
997,276272,165,747.358673,8.862801,-127.413593,272.882069,52.957656,-142.337871,29.493983,279.742342,36.952759,1.216428,4.298082,21.376994,71.529692,218.459721,6.512837,12.824772
998,276273,165,634.154137,6.485737,-123.391600,291.514723,34.935666,-93.716664,25.704045,151.456788,50.791095,1.058287,5.626901,8.124589,78.423711,177.895404,9.338142,9.907313
999,276274,165,915.717778,6.846038,-37.048767,205.389288,31.516996,-123.735413,62.639449,431.668604,39.867251,1.146690,5.077615,20.556177,75.768872,184.266983,5.892799,5.865194
1000,276275,165,675.086427,8.153176,-71.693475,237.403454,18.656996,-138.098867,56.672494,222.316152,38.191907,1.308690,5.570105,20.212564,69.930832,192.199457,7.534391,6.728552

## Merge emissions data with lhs samples

In [9]:
attr_primary_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "ATTRIBUTE_PRIMARY.csv"))
attr_primary_df

      primary_id  design_id  strategy_id  future_id
0         275275          3         6002          0
1         275276          3         6002          1
2         275277          3         6002          2
3         275278          3         6002          3
4         275279          3         6002          4
...          ...        ...          ...        ...
996       276271          3         6002        996
997       276272          3         6002        997
998       276273          3         6002        998
999       276274          3         6002        999
1000      276275          3         6002       1000

[1001 rows x 4 columns]

In [10]:
la_emissions_df_w_future_id = la_emissions_df_agg.merge(attr_primary_df, on="primary_id", how="inner")

# Drop design_id and stratgy_id columns
la_emissions_df_w_future_id = la_emissions_df_w_future_id.drop(columns=["design_id", "strategy_id", "time_period"])
la_emissions_df_w_future_id

,primary_id,total_emissions_last_five_years,emission_co2e_subsector_total_last_five_years_agrc,emission_co2e_subsector_total_last_five_years_ccsq,emission_co2e_subsector_total_last_five_years_entc,emission_co2e_subsector_total_last_five_years_fgtv,emission_co2e_subsector_total_last_five_years_frst,emission_co2e_subsector_total_last_five_years_inen,emission_co2e_subsector_total_last_five_years_ippu,emission_co2e_subsector_total_last_five_years_lndu,emission_co2e_subsector_total_last_five_years_lsmm,emission_co2e_subsector_total_last_five_years_lvst,emission_co2e_subsector_total_last_five_years_scoe,emission_co2e_subsector_total_last_five_years_soil,emission_co2e_subsector_total_last_five_years_trns,emission_co2e_subsector_total_last_five_years_trww,emission_co2e_subsector_total_last_five_years_waso,future_id
0,275275,140.265338,7.267550,-141.930311,76.687418,4.945170,-104.203459,6.278755,105.479301,25.920040,0.587402,3.233606,1.718910,61.059653,85.252196,3.549219,4.419889,0
1,275276,670.507643,8.061759,-141.366606,334.273021,50.634794,-90.765169,32.437006,170.411122,49.462783,0.906453,3.535574,8.152285,89.352384,138.564932,4.811716,12.035590,1
2,275277,604.450538,7.858164,-14.533055,191.759751,22.453442,-105.394860,37.959592,160.811434,38.170739,0.970521,4.244111,8.154926,81.322226,156.911769,8.015643,5.746137,2
3,275278,475.708631,8.307819,-129.785123,117.203083,12.867610,-98.697311,19.116132,278.256437,36.429337,1.228347,4.422138,18.414907,76.882749,121.007564,4.921821,5.133122,3
4,275279,758.004335,8.405054,-71.502824,264.993930,34.352460,-117.495744,48.859457,336.430495,28.664949,1.090020,3.910358,13.270447,70.415909,121.967384,6.411074,8.231365,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,276271,623.338641,7.691330,-71.971267,192.425095,32.765217,-142.984360,22.202444,286.445998,36.106518,0.904249,5.081968,18.862049,71.560854,148.939474,5.825388,9.483685,996
997,276272,747.358673,8.862801,-127.413593,272.882069,52.957656,-142.337871,29.493983,279.742342,36.952759,1.216428,4.298082,21.376994,71.529692,218.459721,6.512837,12.824772,997
998,276273,634.154137,6.485737,-123.391600,291.514723,34.935666,-93.716664,25.704045,151.456788,50.791095,1.058287,5.626901,8.124589,78.423711,177.895404,9.338142,9.907313,998
999,276274,915.717778,6.846038,-37.048767,205.389288,31.516996,-123.735413,62.639449,431.668604,39.867251,1.146690,5.077615,20.556177,75.768872,184.266983,5.892799,5.865194,999
1000,276275,675.086427,8.153176,-71.693475,237.403454,18.656996,-138.098867,56.672494,222.316152,38.191907,1.308690,5.570105,20.212564,69.930832,192.199457,7.534391,6.728552,1000

In [11]:
merged_df = pd.merge(lhc_trials_df, la_emissions_df_w_future_id, on="future_id", how="inner")

# rearrange columns to have future_id and primary_id at the front
cols_order = ["future_id", "primary_id"] + [col for col in merged_df.columns if col not in ["future_id", "primary_id"]]
merged_df = merged_df[cols_order]
merged_df

,future_id,primary_id,1,2,3,4,5,6,7,8,...,emission_co2e_subsector_total_last_five_years_inen,emission_co2e_subsector_total_last_five_years_ippu,emission_co2e_subsector_total_last_five_years_lndu,emission_co2e_subsector_total_last_five_years_lsmm,emission_co2e_subsector_total_last_five_years_lvst,emission_co2e_subsector_total_last_five_years_scoe,emission_co2e_subsector_total_last_five_years_soil,emission_co2e_subsector_total_last_five_years_trns,emission_co2e_subsector_total_last_five_years_trww,emission_co2e_subsector_total_last_five_years_waso
0,1,275276,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,...,32.437006,170.411122,49.462783,0.906453,3.535574,8.152285,89.352384,138.564932,4.811716,12.035590
1,2,275277,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,...,37.959592,160.811434,38.170739,0.970521,4.244111,8.154926,81.322226,156.911769,8.015643,5.746137
2,3,275278,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,...,19.116132,278.256437,36.429337,1.228347,4.422138,18.414907,76.882749,121.007564,4.921821,5.133122
3,4,275279,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,...,48.859457,336.430495,28.664949,1.090020,3.910358,13.270447,70.415909,121.967384,6.411074,8.231365
4,5,275280,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,...,27.739520,251.830128,46.485526,0.984459,3.737274,15.296131,76.307252,229.067385,7.548845,10.952978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,276271,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,...,22.202444,286.445998,36.106518,0.904249,5.081968,18.862049,71.560854,148.939474,5.825388,9.483685
996,997,276272,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,...,29.493983,279.742342,36.952759,1.216428,4.298082,21.376994,71.529692,218.459721,6.512837,12.824772
997,998,276273,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,...,25.704045,151.456788,50.791095,1.058287,5.626901,8.124589,78.423711,177.895404,9.338142,9.907313
998,999,276274,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,...,62.639449,431.668604,39.867251,1.146690,5.077615,20.556177,75.768872,184.266983,5.892799,5.865194
999,1000,276275,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,...,56.672494,222.316152,38.191907,1.308690,5.570105,20.212564,69.930832,192.199457,7.534391,6.728552

In [12]:
var_traj_df = pd.read_csv(os.path.join(MAPPING_DIR_PATH, "var_trajgroups_experiment.csv"))
var_traj_df.tail(10)

    variable_trajectory_group
37                         38
38                         39
39                         40
40                         41
41                         42
42                         43
43                         44
44                         45
45                         46
46                         47

In [13]:
# Convert the variable_trajectory_group column to list of strings
relevant_lhs_cols = var_traj_df["variable_trajectory_group"].values
relevant_lhs_cols = [str(col) for col in relevant_lhs_cols.tolist()]
# relevant_lhs_cols

In [14]:
df_cols = merged_df.columns.tolist()

# Filter the relevant_lhs_cols to only include those that are in df_cols
relevant_lhs_cols = [col for col in relevant_lhs_cols if col in df_cols]

In [15]:
# filter merged_df to keep only relevant columns
cols_to_keep = ["future_id", "primary_id"] + list(relevant_lhs_cols) + ["total_emissions_last_five_years"] + [col for col in merged_df.columns if col.startswith("emission_co2e_subsector_total")]
merged_df_filtered = merged_df[cols_to_keep]

In [16]:
merged_df_filtered

,future_id,primary_id,1,2,3,4,5,6,7,8,...,emission_co2e_subsector_total_last_five_years_inen,emission_co2e_subsector_total_last_five_years_ippu,emission_co2e_subsector_total_last_five_years_lndu,emission_co2e_subsector_total_last_five_years_lsmm,emission_co2e_subsector_total_last_five_years_lvst,emission_co2e_subsector_total_last_five_years_scoe,emission_co2e_subsector_total_last_five_years_soil,emission_co2e_subsector_total_last_five_years_trns,emission_co2e_subsector_total_last_five_years_trww,emission_co2e_subsector_total_last_five_years_waso
0,1,275276,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,...,32.437006,170.411122,49.462783,0.906453,3.535574,8.152285,89.352384,138.564932,4.811716,12.035590
1,2,275277,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,...,37.959592,160.811434,38.170739,0.970521,4.244111,8.154926,81.322226,156.911769,8.015643,5.746137
2,3,275278,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,...,19.116132,278.256437,36.429337,1.228347,4.422138,18.414907,76.882749,121.007564,4.921821,5.133122
3,4,275279,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,...,48.859457,336.430495,28.664949,1.090020,3.910358,13.270447,70.415909,121.967384,6.411074,8.231365
4,5,275280,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,...,27.739520,251.830128,46.485526,0.984459,3.737274,15.296131,76.307252,229.067385,7.548845,10.952978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,276271,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,...,22.202444,286.445998,36.106518,0.904249,5.081968,18.862049,71.560854,148.939474,5.825388,9.483685
996,997,276272,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,...,29.493983,279.742342,36.952759,1.216428,4.298082,21.376994,71.529692,218.459721,6.512837,12.824772
997,998,276273,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,...,25.704045,151.456788,50.791095,1.058287,5.626901,8.124589,78.423711,177.895404,9.338142,9.907313
998,999,276274,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,...,62.639449,431.668604,39.867251,1.146690,5.077615,20.556177,75.768872,184.266983,5.892799,5.865194
999,1000,276275,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,...,56.672494,222.316152,38.191907,1.308690,5.570105,20.212564,69.930832,192.199457,7.534391,6.728552

In [17]:
var_specifications_df = pd.read_csv(os.path.join(MAPPING_DIR_PATH, "variable_specification_to_sample_group.csv"))
# Filter var_specifications_df by sample_group in relevant_lhs_cols
relevant_lhs_cols = [int(col) for col in relevant_lhs_cols]
var_specifications_df = var_specifications_df[var_specifications_df["sample_group"].isin(relevant_lhs_cols)]
var_specifications_df = var_specifications_df.sort_values(by="sample_group", ascending=True)

In [18]:
def process_variable_prefix(df):
    result = []
    for group, group_df in df.groupby('sample_group'):
        variables = group_df['variable_specification'].tolist()
        if len(variables) == 1:
            prefix = variables[0]
        else:
            prefix = os.path.commonprefix(variables)
            # Clean trailing underscores
            prefix = prefix.rstrip('_')
            
        prefix = f"group_{group}_{prefix}"
        result.append({'sample_group': group, 'variable_prefix': prefix})
    return pd.DataFrame(result)

prefix_df = process_variable_prefix(var_specifications_df)
prefix_df

    sample_group                                    variable_prefix
0              1                            group_1_ef_lvst_entferm
1              2                                    group_2_yf_agrc
2              3                             group_3_demscalar_soil
3              4                             group_4_demscalar_ippu
4              5    group_5_efficfactor_enfu_industrial_energy_fuel
5              6                    group_6_elecfuelefficiency_trns
6              7   group_7_factor_waso_waste_per_capita_scalar_food
7              8                                  group_8_frac_fgtv
8              9      group_9_frac_agrc_agriculture_production_lost
9             10                                 group_10_frac_agrc
10            12  group_12_frac_enfu_transmission_loss_fuel_elec...
11            13                                          group_13_
12            14                  group_14_frac_ippu_cement_clinker
13            15     group_15_frac_ippu_production_with_co2_capture
14            16                              group_16_frac_lvst_mm
15            17                         group_17_frac_trns_fuelmix
16            18                group_18_frac_trns_mtkm_dem_freight
17            19                         group_19_frac_trns_pkm_dem
18            20                              group_20_frac_wali_ww
19            21                    group_21_frac_waso_non_recycled
20            22                                 group_22_frac_waso
21            23                        group_23_frac_waso_recycled
22            24                                 group_24_frac_waso
23            25                          group_25_frac_inen_energy
24            26                          group_26_frac_inen_energy
25            27                     group_27_frac_scoe_heat_energy
26            28                       group_28_fuelefficiency_trns
27            29                                     group_29_gasrf
28            30                             group_30_ef_ippu_tonne
29            31                     group_31_ef_ippu_tonne_n2o_per
30            32                  group_32_lndu_reallocation_factor
31            33                              group_33_exports_lvst
32            34                                group_34_nemomod_en
33            35  group_35_occrate_trns_passenger_per_vehicle_ro...
34            36                     group_36_pij_lndu_croplands_to
35            37             group_37_pij_lndu_forests_mangroves_to
36            38               group_38_pij_lndu_forests_primary_to
37            39             group_39_pij_lndu_forests_secondary_to
38            40                                          group_40_
39            41                         group_41_pij_lndu_other_to
40            42                   group_42_pij_lndu_settlements_to
41            43                      group_43_pij_lndu_wetlands_to
42            44       group_44_ef_agrc_anaerobicdom_rice_kg_ch4_ha
43            45             group_45_scalar_lvst_carrying_capacity
44            46       group_46_scalar_scoe_appliance_energy_demand
45            47            group_47_scalar_scoe_heat_energy_demand

In [19]:
var_specifications_df[var_specifications_df["sample_group"].isin([13, 40])]

                           variable_specification  sample_group
560   elasticity_agrc_sugar_cane_demand_to_income            13
876                     frac_gnrl_eating_red_meat            13
1177      frac_lndu_proportion_grasslands_pasture            40
2020       pij_lndu_grasslands_to_forests_primary            40
2021     pij_lndu_grasslands_to_forests_secondary            40
2022            pij_lndu_grasslands_to_grasslands            40
2024           pij_lndu_grasslands_to_settlements            40
2025              pij_lndu_grasslands_to_wetlands            40
2023                 pij_lndu_grasslands_to_other            40
2019     pij_lndu_grasslands_to_forests_mangroves            40
2018             pij_lndu_grasslands_to_croplands            40

In [20]:
prefix_df.loc[prefix_df["sample_group"] == 13, "variable_prefix"] = "group_13_frac_gnrl_eating_red_meats+"
prefix_df.loc[prefix_df["sample_group"] == 40, "variable_prefix"] = "group_40_pij_lndu_grasslands+"

prefix_df = prefix_df.sort_values(by="variable_prefix", ascending=True)
prefix_df

    sample_group                                    variable_prefix
9             10                                 group_10_frac_agrc
10            12  group_12_frac_enfu_transmission_loss_fuel_elec...
11            13               group_13_frac_gnrl_eating_red_meats+
12            14                  group_14_frac_ippu_cement_clinker
13            15     group_15_frac_ippu_production_with_co2_capture
14            16                              group_16_frac_lvst_mm
15            17                         group_17_frac_trns_fuelmix
16            18                group_18_frac_trns_mtkm_dem_freight
17            19                         group_19_frac_trns_pkm_dem
0              1                            group_1_ef_lvst_entferm
18            20                              group_20_frac_wali_ww
19            21                    group_21_frac_waso_non_recycled
20            22                                 group_22_frac_waso
21            23                        group_23_frac_waso_recycled
22            24                                 group_24_frac_waso
23            25                          group_25_frac_inen_energy
24            26                          group_26_frac_inen_energy
25            27                     group_27_frac_scoe_heat_energy
26            28                       group_28_fuelefficiency_trns
27            29                                     group_29_gasrf
1              2                                    group_2_yf_agrc
28            30                             group_30_ef_ippu_tonne
29            31                     group_31_ef_ippu_tonne_n2o_per
30            32                  group_32_lndu_reallocation_factor
31            33                              group_33_exports_lvst
32            34                                group_34_nemomod_en
33            35  group_35_occrate_trns_passenger_per_vehicle_ro...
34            36                     group_36_pij_lndu_croplands_to
35            37             group_37_pij_lndu_forests_mangroves_to
36            38               group_38_pij_lndu_forests_primary_to
37            39             group_39_pij_lndu_forests_secondary_to
2              3                             group_3_demscalar_soil
38            40                      group_40_pij_lndu_grasslands+
39            41                         group_41_pij_lndu_other_to
40            42                   group_42_pij_lndu_settlements_to
41            43                      group_43_pij_lndu_wetlands_to
42            44       group_44_ef_agrc_anaerobicdom_rice_kg_ch4_ha
43            45             group_45_scalar_lvst_carrying_capacity
44            46       group_46_scalar_scoe_appliance_energy_demand
45            47            group_47_scalar_scoe_heat_energy_demand
3              4                             group_4_demscalar_ippu
4              5    group_5_efficfactor_enfu_industrial_energy_fuel
5              6                    group_6_elecfuelefficiency_trns
6              7   group_7_factor_waso_waste_per_capita_scalar_food
7              8                                  group_8_frac_fgtv
8              9      group_9_frac_agrc_agriculture_production_lost

In [21]:
# Let's use the prefix_df to rename the columns in merged_df_filtered
def rename_columns_with_prefix(merged_df, prefix_df):
    df = merged_df.copy()
    for _, row in prefix_df.iterrows():
        sample_group = row['sample_group']
        variable_prefix = row['variable_prefix']
        cols_to_rename = [col for col in df.columns if col.startswith(str(sample_group))]
        for col in cols_to_rename:
            new_col_name = f"{variable_prefix}"
            df = df.rename(columns={col: new_col_name})
    return df
merged_df_filtered_w_prefix = rename_columns_with_prefix(merged_df_filtered, prefix_df)

In [22]:
merged_df_filtered_w_prefix

,future_id,primary_id,group_1_ef_lvst_entferm,group_2_yf_agrc,group_3_demscalar_soil,group_4_demscalar_ippu,group_5_efficfactor_enfu_industrial_energy_fuel,group_6_elecfuelefficiency_trns,group_7_factor_waso_waste_per_capita_scalar_food,group_8_frac_fgtv,...,emission_co2e_subsector_total_last_five_years_inen,emission_co2e_subsector_total_last_five_years_ippu,emission_co2e_subsector_total_last_five_years_lndu,emission_co2e_subsector_total_last_five_years_lsmm,emission_co2e_subsector_total_last_five_years_lvst,emission_co2e_subsector_total_last_five_years_scoe,emission_co2e_subsector_total_last_five_years_soil,emission_co2e_subsector_total_last_five_years_trns,emission_co2e_subsector_total_last_five_years_trww,emission_co2e_subsector_total_last_five_years_waso
0,1,275276,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,...,32.437006,170.411122,49.462783,0.906453,3.535574,8.152285,89.352384,138.564932,4.811716,12.035590
1,2,275277,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,...,37.959592,160.811434,38.170739,0.970521,4.244111,8.154926,81.322226,156.911769,8.015643,5.746137
2,3,275278,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,...,19.116132,278.256437,36.429337,1.228347,4.422138,18.414907,76.882749,121.007564,4.921821,5.133122
3,4,275279,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,...,48.859457,336.430495,28.664949,1.090020,3.910358,13.270447,70.415909,121.967384,6.411074,8.231365
4,5,275280,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,...,27.739520,251.830128,46.485526,0.984459,3.737274,15.296131,76.307252,229.067385,7.548845,10.952978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,276271,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,...,22.202444,286.445998,36.106518,0.904249,5.081968,18.862049,71.560854,148.939474,5.825388,9.483685
996,997,276272,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,...,29.493983,279.742342,36.952759,1.216428,4.298082,21.376994,71.529692,218.459721,6.512837,12.824772
997,998,276273,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,...,25.704045,151.456788,50.791095,1.058287,5.626901,8.124589,78.423711,177.895404,9.338142,9.907313
998,999,276274,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,...,62.639449,431.668604,39.867251,1.146690,5.077615,20.556177,75.768872,184.266983,5.892799,5.865194
999,1000,276275,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,...,56.672494,222.316152,38.191907,1.308690,5.570105,20.212564,69.930832,192.199457,7.534391,6.728552

In [23]:
#save the merged DataFrame to a CSV file
merged_df_filtered_w_prefix.to_csv(os.path.join(TRAINING_DIR_PATH, "training_data.csv"), index=False)